:root {
    --text-color : #f0f4f5;
    --background-color : #263343;
    --accent-color :    #d49466;
}

body{
    margin : 0;
    font-family: 'Gowun Batang';
}

.main_home{
    display: flex;           
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    height: 100vh;
    border: 2px solid gray;
    color: white;
    background-color: var(--background-color);
}

.main_home:hover{
    display: flex;           
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    height: 100vh;
    border: 2px solid gray;
    color: white;
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    color : var(--text-color);
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color : var(--background-color);
    padding : 8px 12px;
}

.navbar_logo{
    font-size : 30px;
    color : var(--accent-color);
}

.navbar_menu{
    display : flex;
    list-style : none;
    padding-left : 0;
}

.navbar_menu li{
    padding : 8px 12px;
}

.navbar_icons{ 
    list-style: none;
    color : var(--text-color);
    display : flex;
    font-size: 11px;
    text-align: center;
    padding-left: 0;
}

.navbar_toggleBtn{
    position : absolute;
    right : 32px;
    font-size : 24px;
    color : var(--accent-color);
    display : none
}

.navbar_icons li{
    padding : 8px 12px;
}

.navbar_menu li:hover{
    background-color : var(--accent-color);
    border-radius: 4px;
}

@media screen and (max-width:768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu{
        display : none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li{
        width: 100%;
        text-align: center;
    }

    .navbar_icons{
        display : none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toggleBtn{
        display : block;
    }

    .navbar_menu.active,
    .navbar_icons.active{
        display : flex;
    }

}

.article{
    margin: 0 auto; /* 가로 중앙 정렬을 위해 */   
    text-align: center;
    padding : 8px 12px;
    display: inline-block;
    width : 100%;

}

.article .article_explain{
    text-align: left;
    width : 600px;
    margin : auto;
    display : block;
}


.article .article_map{
    margin : auto;
    display : block;
}

.article span{
    color: var(--accent-color);
    font-weight: bold;
}

.article_img{
    float:left;
    margin-right : 30px;
    width : 700px;
}


body .side-bar ul, li {
    margin: 0;
    padding: 0;
    list-style: none;   	    /* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 */
  }
  
.side-bar a {
    color: inherit;   	    /* 부모 엘리먼트의 값을 물려받는다 */
    text-decoration: none;    /* 해당 태그의 text-decoration 속성을 none 값으로 하는 것으로 밑줄을 제거한다 */
  }

  /* 2차 이상의 메뉴를 숨기기 */
.side-bar > ul ul {
    display: none;
  }
  
  /* 사이트의 높이를 5000px로 만들어 스크롤 생성 */
.side-bar {
    height: 100vh;
    background-color: var(--accent-color);
  }
  
  /* 사이드바의 너비와 높이를 변수를 통해 통제 */
  :root {
    --side-bar-width: 200px;
    --side-bar-height: 100vh;
  }
  
  .side-bar {
    position: fixed;    /* 스크롤을 따라오도록 지정 */
    background-color: var(--background-color);
    width: var(--side-bar-width);
    min-height: var(--side-bar-height);   /* 사이드바의 높이를 전체 화면 높이의 90%로 지정 */
    margin-top: calc((100vh - var(--side-bar-height)) / 2);    /* 사이드바 위와 아래의 마진을 동일하게 지정 */
  }
  
  /* 모든 메뉴의 a에 속성값 부여 */
  .side-bar ul > li > a {
    display: block;
    color: white;
    font-size: 1.4rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
  }

  /* 자식의 position이 absolute일 때 자식을 영역 안에 가두어 준다 */
.side-bar > ul > li {
    position: relative;
  }
  
  /* 모든 메뉴가 마우스 인식 시 반응 */
  .side-bar ul > li:hover > a {
    background-color:var(--accent-color);
    border-bottom: 1px solid #999;
  }
  
  /* 1차 메뉴의 항목이 마우스 인식 시에 2차 메뉴 등장 */
  .side-bar > ul > li:hover > ul {
    display: block;
    position: absolute;
    background-color: #888;
    top: 0;         /* 2차 메뉴의 상단을 1차 메뉴의 상단에 고정 */
    left: 100%;     /* 2차 메뉴를 1차 메뉴의 너비만큼 이동 */
    width: 100%;    /* 1차 메뉴의 너비를 상속 */
  }

  /* 사이드바 너비의 80%만큼 왼쪽으로 이동 */
.side-bar {
    border-radius: 20px;
    transform: translate(calc(var(--side-bar-width) * -0.8), 0);  /* X축 이동, Y축 고정 */
    transition: .5s;
  }
  
  /* 마우스 인식 시 원래의 위치로 이동 */
  .side-bar:hover {
    transform: translate(-20px, 0);   /* 둥근 모서리의 너비만큼 X축 이동, Y축 고정 */
  }

  .jb-division-line {
    border-top: 1px solid #444444;
    margin : 50px auto;
    width: 500px;        
  }

  /*slider*/
        /* 기본 스타일 */
        .slideshow-container {
            max-width: 700px;
            height : 500px;
            position: relative;
            margin: auto;
        }

        .mySlides {
            display: none;
        }

        img {
            width: 100%;
            height: auto;
        }

        /* 이전/다음 버튼 스타일 */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%); /* 중앙 정렬을 위해 추가 */
            width: auto;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            transition: 0.6s ease;
            background: rgba(0, 0, 0, 0.5); /* 배경 추가 */
            border-radius: 3px; /* 둥근 모양으로 변경 */
        }

        .prev {
            left: 0;
            transform: translate(-50%, -50%); /* 왼쪽 정렬을 위해 추가 */
            border-radius: 3px 0 0 3px;
        }

        .next {
            right: 0;
            transform: translate(50%, -50%); /* 오른쪽 정렬을 위해 추가 */
            border-radius: 0 3px 3px 0;
        }

        /* 이미지 슬라이드의 캡션 스타일 */
        .text {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            background-color: #000;
            color: #f2f2f2;
            padding: 8px 0;
        }
